<app-sticky-header><app-header (navMenuSelected)="onNavigate($event)" *ngIf="loginFlagSuccess"></app-header></app-sticky-header>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!loginFlagSuccess">
        <!-- <a class="navbar-brand" href="#" (click)="onSelect('home')" > -->
            <a class="navbar-brand" href="#">
          <img src="./assets/images/diba.png" height="100" width="150"/>
        </a>
</nav>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <app-login *ngIf="navMenuLoaded==='login'" (loginFlag)="onSuccessLogin($event)"></app-login>
      <app-categories *ngIf="navMenuLoaded ==='home'"></app-categories>
      <app-sell-products *ngIf="navMenuLoaded ==='sell'"></app-sell-products>
      <app-transactions-hist *ngIf="navMenuLoaded ==='tran'"></app-transactions-hist>
    </div>
  </div>
</div>
