<div class="conatiner">
  <div class="row">
    <div class="col">
      <h5>Add Product</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-xs-5 form-group">
            <label for="name">Product Name</label>
            <input type="text" id="name" class="form-control">
          </div>
          <div class="col-sm-5 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-5 form-group">
              <label for="description">Description</label>
              <input type="text-area" id="description" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <div class="input-group mb-3 form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01" aria-describedby="inputGroupFileAddon01">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
            &nbsp;
            <!-- <button class="btn btn-danger" type="button">Delete</button> -->
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
