<div class="container">
    <div class="row">
    <div class="left-style col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product.imgPath}}" width="286" height="280"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text">Details : {{product.description}}</p>
          <p class="card-text">Seller : {{product.sellerName}}</p>
          <p class="card-text">Price : {{product.price | currency:'INR':true:'1.2'}}</p>
         <p class="card-text">Total Price : {{product.price * quantity | currency:'INR':true:'1.2'}}</p>
          <P>Quantity : <input type="number" id="quantity" [(ngModel)]="quantity" class="form-control" (input)="onQuantityChange($event.target.value)"></P>

         <a href="#" class="btn btn-primary" (click)="deleteBuyingProduct()">Cancel</a>
         &nbsp;
         <a href="#" class="btn btn-primary" (click)="confirmBuyingProduct()">Confirm</a>
        </div>
      </div>
    </div>
  </div>
</div>