<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" (click)="onSelect('home')"><h5>Categories</h5></button>
        <button type="button" class="list-group-item list-group-item-action" (click)="onSelect('Electronics')">Electronics</button>
        <button type="button" class="list-group-item list-group-item-action" (click)="onSelect('Automobile')">Automobile</button>
        <button type="button" class="list-group-item list-group-item-action" (click)="onSelect('Fashion')">Fashion</button>
        <button type="button" class="list-group-item list-group-item-action" (click)="onSelect('Food')">Food</button>
         <!-- <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button> -->
      </div>
    </div>
    <!-- <div class="col-md-auto">
      <app-products-list [showCategory]="categorySelected"></app-products-list>
    </div> -->
  </div>
</div>